@import url('https://fonts.googleapis.com/css2?family=c:wght@400;900&family=Mouse+Memoirs&family=Open+Sans:ital,wght@1,700&family=Oswald:wght@200;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: beige;
}

header{
    font-family: "Mouse Memoirs", sans-serif ;
    font-size: 200%;
    color: #12B0E8;
}

h1 {
    font-size: 200%;
    text-align: center;
    position: relative;
    bottom: 10px;
    padding: 30px 10px 30px;
    background-color: #FF6666;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    border-radius: 10px;
    color: #03203C;
}

/* 
#add-buttons{
  display: flex;
  justify-content: center;
}

#add-buttons button{
  padding: 10px 10px;
  background-color: #03203C;
  color: whitesmoke;
  margin-right: 0.5rem;
  font-size: 25px;
  border-radius: 5px;
  width: 8rem;
  font-family: "Mouse Memoirs";
  cursor: pointer;
}

#add-buttons button:active{
  background-color: #57534e;
} */

.taking-input{
  background-color: turquoise;
  margin-left: 400px;
  margin-right: 400px;
  margin: top 30px;
  height: 100px;
  border: 3px solid grey;
  border-radius: 5px;
}

.floor-input {
  text-align: center;
  font-size: 1rem;
  margin: 20px;
  height: 50px;
  width: 15rem;
  border: 2px solid black;
  border-radius: 2px;
  font-family: "Mouse Memoirs";
  font-size: 30px;
}

.lift-input{
  text-align: center;
  font-size: 1rem;
  margin: 20px;
  height: 50px;
  width: 15rem;
  border: 2px solid black;
  border-radius: 2px; 
  font-family: "Mouse Memoirs";
  font-size: 30px;
}

.confirm-btn{
  height: 40px;
  width: 7rem;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Mouse Memoirs";
  font-size: 25px;
  background-color: #03203C;
  color: white;
}

.confirm-btn:active{
  background-color: #57534e;
}

.floor{
  border-bottom: 1px solid black;
  display: flex;
  margin-left: 20px;
  margin-top: 1rem;
  margin-bottom: 5px;
  height: 7rem;
}

/* #lift-buttons{
  display: flex;
  margin-left: 10px;
  margin-top: 70px;
  margin-bottom: 10px;
}

#lift-buttons button{
  width: 4rem;
  font-size: 20px;
  padding: 10px 10px;
  margin-right: 10px;
  font-family: "Mouse Memoirs";
  margin-bottom: 20px;
  background-color: #16a34a;
  border-radius: 10px;
  cursor: pointer;
}

#lift-buttons button:active{
  background-color: #57534e;
} */

.upward-downward button{
  width: 4rem;
  font-size: 20px;
  padding: 10px 10px;
  margin-right: 10px;
  font-family: "Mouse Memoirs";
  margin-bottom: 2px;
  background-color: #16a34a;
  border-radius: 10px;
  cursor: pointer;
}

.upward-downward button:active{
  background-color: #57534e;
}

.lifts{
  width: 5rem;
  height: 7rem;
  margin-left: 3rem;
  margin-bottom: 1px;
  display: flex;
  padding: 5px;
  border: 5px solid black;
  border-radius: 5px;
}

.lift-left-door{
  border: 3px solid grey;
  height: 100%;
  width: 50%;
  background-color: aquamarine;
  animation-name: left;
  transition: 2.5s;
}

.lift-right-door{
  border: 3px solid grey;
  height: 100%;
  width: 50%;
  background-color: aquamarine;
}  